.jumbotron {
  background-color: #18bc9c;
}

.jumbotron .lead {
  color: #fff;
  font-size: 1.5em;
}

.jumbotron a:focus,
.jumbotron a:active,
.jumbotron a:hover {
  color: #fff;
}

.jumbotron img {
  max-width: 200px;
}
