<a href="https://github.com/boyanio/angular-wasm" target="_blank" rel="noopener">
  <img
    style="position: absolute; top: 0; right: 0; border: 0; z-index: 1;"
    src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
    alt="Fork me on GitHub"
    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
  />
</a>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Angular &amp; WebAssembly</h1>
    <p class="lead">A collection of examples of how WebAssembly can be used with Angular</p>
    <p>
      <img src="assets/img/angular-wasm.png" alt="Angular &amp; WebAssembly logos" />
    </p>
    <p>
      <a class="btn btn-primary" routerLink="/"> <i class="ion-home"></i> Home</a>
      <a class="btn btn-primary" href="https://github.com/boyanio/angular-wasm" target="_blank" rel="noopener">
        <i class="ion-social-github"></i> GitHub</a
      >
      <a class="btn btn-primary" href="https://twitter.com/boyanio" target="_blank" rel="noopener">
        <i class="ion-social-twitter"></i> Twitter</a
      >
    </p>
  </div>
</section>

<router-outlet></router-outlet>
