html,
body {
  height: 100%;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #18bc9c;
}

a:focus,
a:hover,
a:active {
  color: #128f76;
}

.btn {
  border: 0;
}

.bg-primary {
  background-color: #18bc9c !important;
}

.bg-secondary {
  background-color: #2c3e50 !important;
}

.text-primary {
  color: #18bc9c !important;
}

.text-secondary {
  color: #2c3e50 !important;
}

.btn-primary {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
  box-shadow: none;
  border: 0;
}

.btn-secondary {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}

.demo-contents {
  border: 2px dotted #18bc9c;
  padding: 10px;
  margin-bottom: 50px;
}

.app-loader {
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
}

.app-loader .container {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.ladda-button {
  padding: 0.37rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
