.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  height: 150px;
  line-height: 150px;
  border: 2px dotted #18bc9c;
  cursor: pointer;
}

.portfolio .portfolio-item:hover {
  color: #fff;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #18bc9c;
  text-decoration: none;
}
