<section>
  <div class="container">
    <h1>Hello, World</h1>
    <p>A simple example showing the connection between JavaScript and WebAssembly without using Emscripten's API on top of it.</p>

    <div class="demo-contents" *ngIf="loaded">
      <h2>{{ title }}</h2>
      <div class="row">
        <div class="col-lg-6">
          <form (ngSubmit)="multiply()">
            <div class="form-group">
              <label>First number:</label>
              <input type="number" class="form-control" name="firstNumber" required [(ngModel)]="firstNumber">
            </div>
            <div class="form-group">
              <label>Second number:</label>
              <input type="number" class="form-control" name="secondNumber" required [(ngModel)]="secondNumber">
            </div>
            <button type="submit" class="btn btn-primary">Multiply</button>
          </form>
        </div>
        <div class="col-lg-6">
          <p class="calc-result">{{ result }}</p>
        </div>
      </div>
    </div>
  </div>
</section>